.container {
  border: 1px solid #434a64;
  width: 75%;
  height: 200px;
  margin: 0 auto;
  text-align: center;
}

.flex-box-pick-color {
  display: flex;
  flex-direction: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 10px;
  margin-top: 25px;
}
